.signup {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.signup_container {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.signup_container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.signup_form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_form > form > input {
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 5px;
    background-color: #eeeeee
}

.signup_form > form > button {
    background-color: #3CB043;
    color: white;
    margin: 5px;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-size: 13px;
    font-weight: 800;
}

.signup_form > form > h6 {
    font-weight: 100;
}

a {
    text-decoration: underline;
    color: blue;
}

.successMessage {
    margin: 1rem 0;
    padding: 0.4rem;
    border: 0.8px solid #00ff15;
    background-color: #ccffd1;
    border-radius: 8px;
    transform: scale(0.85);
}
